<!DOCTYPE html>
<html>
  <head>
    <title>Comapi Meya.ai bot adaptor example page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Comapi Meya.ai bot adaptor example inbound handler</h1>
    <p>Configure this URL as your Comapi webhook location to start receiving messages for the bot.</p>
  </body>
</html>
