<!DOCTYPE html>
<html>
  <head>
    <title>Comapi Meya.ai bot adaptor example page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Comapi Meya.ai bot adaptor example outbound landing page</h1>
    <p>Configure your Meya.ai bots Webhook URL to this URL to enable messages sent from the bot to be sent to Comapi.</p>
  </body>
</html>
