<!DOCTYPE html>
<html>
  <head>
    <title>Comapi Meya.ai bot adaptor example page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Comapi Meya.ai bot adaptor example</h1>
    <p>Configure this URL plus the path "/botInbound" as your Comapi webhook location to start receiving messages for the bot.</p>
    <p>Configure your Meya.ai bots Webhook URL to this URL plus the path "botOutbound" to enable messages sent from the bot to be sent to Comapi.</p>
  </body>
</html>
